body{
    background: #f3f3f3;
}

.logo{
    width: 200px;
    height: 45px;
    margin-top: 8px;
}

.main{
    background: #ffffff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align: center;
}

.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 5px;
}

.navbar-nav li{
    height: 60px;
}

.navbar-left{
    margin-top: 17px;
}

.my_navbar-nav li a{
    margin-top: 4px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 16px !important;
}

.my_navbar-nav li{
    padding-top: 13px;
}
